span.ln-full {
  display: none;
}

span.ln-short {
  padding-left: 2px;
}

button {
  float: right;
  background-color: white;
  border: white;
}

button:hover {
  background-color: #d3d3d3;
}

button.cp {
}

button.dl{
  cursor: not-allowed;
  opacity: 0.5;
}

